<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/products/cart.css">

<div class="page-container">
<%- include('../partials/nav.ejs') %>


    <div class="cart-view">
        <div id="cart-titles">
            <h1 class="cart-title">Item</h1>
            <h1 class="cart-title">Price</h1>
            <h1 class="cart-title">Quantity</h1>
            <h1 class="cart-title">Subtotal</h1>
        </div>
        <hr class="cart-hr">
        <!-- List Products -->
        <div class="products-container">
        <% if (user) { %>
            <% for (let i = 0; i < items.length; i++) { %>
                <div class="product-info">
                    <div class="img-container">
                        <img src="/images/products/<%= items[i].image[0] %>" alt="" class="item-img">
                        <span class="img-title"><%= items[i].title %></span>
                    </div>
                    <span class="item-price">$<%= items[i].price %></span>
                    <span class="quantity"><%= user.cart[i].qty %></span>
                    <span class="">$<%= subTotals[i] %></span>
                </div>
        <% }} %>
        </div>
        <hr class="cart-hr">
    </div>
    
    
<%- include('../partials/footer.ejs') %>
</div>
</body>
</html>