<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/products/cart.css">
<div class="page-container">
<%- include('../partials/nav.ejs') %>
<div class="grid-container titles">
    <h1 class="grid-item">Item</h1>
    <h1 class="grid-item">Price</h1>
    <h1 class="grid-item">Quantity</h1>
    <h1 class="grid-item">Subtotal</h1>
</div>
<hr class="cart-hr">
<% if (user) { %>
    <% for (let i = 0; i < items.length; i++) { %>
        <div class="product-info grid-container" data-product_id="<%= user.cart[i]._id %>">
            <span class="rel-container grid-item">
                <img src="/images/products/<%= items[i].image[0] %>" alt="" class="product-img">
                <h2 class="inline-resize"><%= items[i].title %></h2>
            </span>
            <h2 class="inline-resize grid-item">$<%= items[i].price %></h2>
            <span class="grid-item">
                <em class="decrement fas fa-minus margin"></em>
                    <h2 class="inline-resize"><%= user.cart[i].qty %></h2>
                <em class="increment fas fa-plus margin"></em>
            </span>
            <span class="grid-item rel-container">
                <h2 class="inline-resize">$<%= subTotals[i] %></h2>
                <button class="remove-btn">Remove</button>
            </span>
        </div>
<% }} %>
<hr class="cart-hr">
<div class="sub-btns">
    <button id="shop">Continue Shopping</button>
    <button id="clear-cart">Clear Shopping Cart</button>
    <span></span>
    <div class="checkout-container">
        <div class="checkout-info">
            <% if (user) { %>
                <h4 class="checkout-item">Subtotal:</h4>
                <h4 class="checkout-item">$<%= totalPrice.toFixed(2) %></h4>
                <span class="checkout-item">Shipping:</span>
                <span class="checkout-item">$4.99</span>
            <% } %>
        </div>
        <hr id="cart-hr">
        <div id="price-container">
            <h3 id="price-title">Order Total:</h3>
            <% if (user) { %>
                <h3 id="total-price">$<%= (totalPrice + 4.99).toFixed(2) %></h3>
            <% } %>
        </div>
        <a id="checkout-btn">Checkout</a>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
</div>
<script>
    document.getElementById('shop').addEventListener('click', function (e) {
        window.location.href = '/products';
    })
//Remove Product
    const deleteProducts = document.querySelectorAll('.remove-btn');
    deleteProducts.forEach( removeBtn => removeBtn.addEventListener('click', (e) => {
        const objectid = removeBtn.closest(".product-info").dataset.product_id;
        fetch(`/cart`, {
            method: 'DELETE',
            body: JSON.stringify({ objectid }),
            headers: { 'Content-Type': 'application/json' }
        })
        .then((response) => response.json())
        .then((data) => {
            window.location.href = data.redirect
        })
        .catch((err) => console.log(err));
    }))
//Increment Product
    const addBtn = document.querySelectorAll('.increment');
    addBtn.forEach( incBtn => incBtn.addEventListener('click', (e) => {
        const incId = incBtn.closest(".product-info").dataset.product_id;
        fetch('/cart', {
            method: 'POST',
            body: JSON.stringify({ incId }),
            headers: { 'Content-Type': 'application/json' }
        })
        .then((res) => res.json())
        .then((data) => {
            window.location.href = data.redirect;
        })
        .catch((err) => console.log(err));
    }))
//Decrement Product
const subBtn = document.querySelectorAll('.decrement');
    subBtn.forEach( decBtn => decBtn.addEventListener('click', (e) => {
        const decId = decBtn.closest(".product-info").dataset.product_id;
        fetch('/cart', {
            method: 'POST',
            body: JSON.stringify({ decId }),
            headers: { 'Content-Type': 'application/json' }
        })
        .then((res) => res.json())
        .then((data) => {
            window.location.href = data.redirect;
        })
        .catch((err) => console.log(err));
    }))
</script>
</body>
</html>