<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/products/products.css">
<div class="page-container">
<%- include('../partials/nav.ejs') %>
    <div id="main-container">

        <div class="filters-container">
            <input type="text" placeholder="Search">
            <h2 id="category-title">Category</h2>
            <h3 class="category-filter">Everything</h3>
            <h3 class="category-filter">Computers</h3>
            <h3 class="category-filter">Cameras</h3>
            <h3 class="category-filter">Furniture</h3>
            <h3 class="category-filter">Accessories</h3>
        </div>

        <div>
            <div class="top-line">
                <hr id="hr-line">
                <span id="products-found"><%= products.length %> Products Found</span>
            </div>
            <div class="products-container">
                <% if (products.length> 0) { %>
                    <% products.forEach(product=> { %>
                        <a href="/products/<%= product.id %>">
                            <div class="product-info">
                                <img src="/images/products/<%= product.image[0] %>" alt="" class="product-img">
                                <div class="title-price">
                                    <h3 class="product-title"><%= product.title %></h3>
                                    <h3 class="product-price">$<%= product.price %></h3>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                <% } else { %>
                    <h3>Nothing to Display</h3>
                <% } %>
            </div>
        </div>

    </div>
<%- include('../partials/footer.ejs') %>
</div>
</body>
</html>