<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/products/products.css">
<div class="page-container">
<%- include('../partials/nav.ejs') %>

<div id="search-container">
    <div>
        <span id="categories">
            <span>Everything &nbsp</span>
            <em class="fa-solid fa-angle-down"></em>
        </span>
        <input type="text" placeholder="Search">
        <em class="fas fa-solid fa-magnifying-glass"></em>
    </div>
</div>
<div id="hr-container"><hr></div>

    <div id="main-container">
        <div>
            <h2 id="category-title">Price</h2>
            <h4 class="category-filter">$0 to $50</h4>
            <h4 class="category-filter">$50 to $100</h4>
            <h4 class="category-filter">$100 to $200</h4>
            <h4 class="category-filter">$200 to $400</h4>
            <h4 class="category-filter">$400 to $1,000</h4>
            <h4 class="category-filter">$1,000+</h4>
            <br>
            <h2 id="category-title">Category</h2>
            <h4 class="category-filter">Everything</h4>
            <h4 class="category-filter">Computers</h4>
            <h4 class="category-filter">Cameras</h4>
            <h4 class="category-filter">Furniture</h4>
            <h4 class="category-filter">Accessories</h4>
        </div>
        <div>
            <div class="products-container">
                <% if (products.length> 0) { %>
                    <% products.forEach(product=> { %>
                        <a href="/products/<%= product.id %>">
                            <div class="product-info">
                                <img src="/images/products/<%= product.image[0] %>" alt="" class="product-img">
                                <div class="title-price">
                                    <h3 class="product-title"><%= product.title %></h3>
                                    <h3 class="product-price">$<%= product.price %></h3>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                <% } else { %>
                    <h3>Nothing to Display</h3>
                <% } %>
            </div>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>
</div>
</body>
</html>