<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/products/product.css">
<div class="page-container">
<%- include('../partials/nav.ejs') %>

    <div class="product-container">
        <div>
            <img src="/images/products/<%= product.image[1] %>" alt=""class="img-container">
            <% if (user && user.admin) { %>
                <a href="#" id="delete-btn" data-delete="<%= product.id %>">Delete</a>
            <% } %>
        </div>
        <div class="product-info">
            <h1><%= product.title %></h1>
            <h2 class="product-price">$<%= product.price %></h2>
            <h3 class="product-desc"><%= product.desc %></h3>
            <div class="shipping-info">
                <div>
                    <h3 class="current-info"><strong>Available:</strong></h3>
                    <h3 class="current-info"><strong>SKU:</strong></h3>
                </div>
                <div class="product-info">
                    <h3 class="current-info">In Stock</h3>
                    <h3 class="current-info"><%= product.id %></h3>
                </div>
            </div>
            <hr>
            <!-- Qty -->
            <div class="addtocart-container noselect">
                <div class="qty-container">
                    <em class="fas fa-minus qty-icon" id="minus-product"></em>
                    <span id="product-qty">1</span>
                    <em class="fas fa-plus qty-icon" id="add-product"></em>
                </div>
                <div>
                    <a href="#" id="add-btn" 
                    data-add="<%= product.id %>" class="add-to-cart">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
    
<%- include('../partials/footer.ejs') %>
</div>
<script>
    // Delete Product
    const deleteProduct = document.getElementById('delete-btn');
    if (deleteProduct){
        deleteProduct.addEventListener('click', (e) => {
            const url = `/products/${deleteProduct.dataset.delete}`;
            fetch(url, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => {
                window.location.href = data.redirect
            })
            .catch((err) => console.log(err));
        })
    }

    // CHANGE QTY
    const minusButton = document.getElementById('minus-product')
    const addButton = document.getElementById('add-product')
    const productQty = document.getElementById('product-qty')
    minusButton.addEventListener('click', (e) => {
        if (productQty.textContent > 1){
            let productVal = productQty.textContent;
            productQty.textContent = Number(productVal) - 1;
        }
    })
    addButton.addEventListener('click', (e) => {
        let productVal = productQty.textContent;
        productQty.textContent = Number(productVal) + 1;
    })

    // ADD PRODUCT
    const addProduct = document.getElementById('add-btn');
    addProduct.addEventListener('click', async (e) => {
        const quantity = document.getElementById('product-qty').textContent;
        const productId = addProduct.dataset.add;
        const url = `/products/${productId}`;
        const res = await fetch(url, {
            method: 'POST',
            body: JSON.stringify({ productId, quantity }),
            headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
        if (data.productId && data.quantity) {
            localStorage.setItem(data.productId, data.quantity)
        }
        if (data.msg) {
            console.log(data.msg);
        }
        if (data) {
            location.assign(data.redirect);
        }
    })
</script>
</body>
</html>